body {
    background-color: beige;
}

#imagemsite {
    max: width 200px;
    max-height:150px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-left: auto;   
}

h1 {
    color:blue;
    text-align: center;
    font-size: 50px;
}

.principal {
    background: gray;
    font-size: 30px;
}